.ddsmoothmenu-v ul{
margin: 0;
padding: 0;
width: 190px; /* Main Menu Item widths */
list-style-type: none;
font: bold 12px Tahoma;
}
 
.ddsmoothmenu-v ul li{
position: relative;
}

/* Top level menu links style */
.ddsmoothmenu-v ul li a{
overflow: auto; /*force hasLayout in IE7 */
text-decoration: none;
text-decoration:none; color:#3858cb; font:12px Tahoma; padding-left:10px; padding-top:7px; padding-bottom:7px; display:block;border-bottom:1px solid #CCC;
}

.ddsmoothmenu-v ul li a:visited, .ddsmoothmenu-v ul li a:active{
background: #FFF; /*background of menu items (default state)*/
color:#3858cb;
}


.ddsmoothmenu-v ul li a.selected{ /*CSS class that's dynamically added to the currently active menu items' LI A element*/
background:#FFF; 
color:#3858cb;
border:1px solid #c3ebf6; border-right:none;
}

.ddsmoothmenu-v ul li a:hover{
background:#FFF; /*background of menu items during onmouseover (hover state)*/
color: #F60;
text-decoration:underline;
border:1px solid #c3ebf6; border-right:none;
}
.ddsmoothmenu-v ul li ul li a
{
	border-bottom:none;
	}
.ddsmoothmenu-v ul li ul li a:hover{
background:#FFF; /*background of menu items during onmouseover (hover state)*/
color: #F60;
text-decoration:underline;
border:none;
}

/*Sub level menu items */
.ddsmoothmenu-v ul li ul{
position: absolute;
width: 170px; /*Sub Menu Items width */
top: 0;
font-weight: normal;
visibility: hidden;
background:#FFF;
border:1px solid #c3ebf6; border-left:none;
box-shadow:1px 1px 1px #999;
}

 
/* Holly Hack for IE \*/
* html .ddsmoothmenu-v ul li { float: left; height: 1%; }
* html .ddsmoothmenu-v ul li a { height: 1%; }
/* End */